<h1>All Verbiage</h1>
<% @verbiages.each do |verbiage| %>
  <div class="media">
    <div class="media-body">
      <h4 clas="media-heading">
        <%= link_to verbiage.title, verbiage %>
      </h4>
      <small>
        submitted <%= time_ago_in_words(verbiage.created_at) %> ago by <%= verbiage.user.name %><br>
      </small>
    </div>      
  </div>
<% end %>