<h1>All Categories</h1>


<div class="row">
  <div class="col-md-8">
    <% @categories.each do |category| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to category.title, [@category, verbiage] %>
          </h4>
          <small>
            Submitted at <%= time_ago_in_words(verbiage.created_at) %> Ago by <%= verbiage.user.name %>
          </small>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if policy(Category.new).create? %>
      <%= link_to "New Category", new_category_path, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>